
.banner{
    background-image: url('img/2.jpg');
    background-size: cover;
    height: 50vh;
   background-position: center;
   margin-bottom: 100px;
}

.banner .banner-text{
    font-size: 80px;
    letter-spacing: 12px;
   
}

/* Optional custom styling */
.gallery-image {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 290px;
}

.gallery-image:hover {
  transform: scale(1.03);
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}