

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.home-hero{
    background-image: url('/img/1.jpg') ;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.containar .styleimg {

    height: 35rem;
    width: 29rem;
}

/* Custom CSS for the component */
.text-primary {
  color: #2d7d9a !important;
}

.btn-primary {
  background-color: #2d7d9a;
  border-color: #2d7d9a;
}

.btn-primary:hover {
  background-color: #1f5d74;
  border-color: #1f5d74;
}





/* Responsive adjustments */
@media (max-width: 768px) {
  .display-5 {
    font-size: 2.2rem;
  }
  
  .lead {
    font-size: 1rem;
  }
}