.home-hero {
  background-image: url('/img/reception.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.styleimg {
  height: 35rem;
  width: 100%;
  max-width: 29rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.5rem;
}

/* Buttons & Text Colors */
.text-primary {
  color: #2d7d9a !important;
}

.btn-primary {
  background-color: #2d7d9a;
  border-color: #2d7d9a;
}

.btn-primary:hover {
  background-color: #1f5d74;
  border-color: #1f5d74;
}

.appointment-banner {
  background-color: #2d7d9a;
  background-image: linear-gradient(to right, #2d7d9a, #1f5d74);
  color: white;
  margin-bottom: 200px;
  padding: 50px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .display-5 {
    font-size: 2.2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .styleimg {
    height: auto;
    max-height: 20rem;
  }



}
